* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

p,
b,
i,
q,
h1,
h2,
h3,
h4,
h5 {
  cursor: default;
}



.preloader {
  background: none repeat scroll 0 0 #fff;
  height: 100%;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9999;
}
.preloader .preloader_inner {
  animation: animate 1.5s linear infinite;
  clip: rect(0, 80px, 80px, 40px);
  height: 80px;
  width: 80px;
  position: absolute;
  left: calc(50% - 40px);
  top: calc(50% - 40px);
}
@keyframes animate {
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(220deg)
  }
}
.preloader .preloader_inner:after {
  animation: animate2 1.5s ease-in-out infinite;
  clip: rect(0, 80px, 80px, 40px);
  content:'';
  border-radius: 50%;
  height: 80px;
  width: 80px;
  position: absolute;
}
@keyframes animate2 {
  0% {
    box-shadow: inset #b3dfd8 0 0 0 17px;
    transform: rotate(-140deg);
  }
  50% {
    box-shadow: inset #b3dfd8 0 0 0 2px;
  }
  100% {
    box-shadow: inset #b3dfd8 0 0 0 17px;
    transform: rotate(140deg);
  }
}




header {
  width: 100%;
  height: 600px;
  background-image: url(../img/header-bg.jpg);
  color: white;
  font-family: 'Open Sans', sans-serif;
  position: relative;

}

header a {
  color: #fff;
  overflow: hidden;
}

.header-inside {
  display: grid;
  grid-template-rows: 1fr 8fr;
  width: 100%;
  height: 100%;
  background-color: rgba(36, 62, 165, 0.95);
  padding: 30px 50px 0 50px;
}

.header-nav {
  display: grid;
  grid-template-columns: 1.3fr 3fr 1fr;
  align-items: center;
}

.header-nav__logo {
  font-size: 18px;
  margin-right: 40px;
}

.header-nav__logo span {
  color: #f13c20;
}

.header-nav__menu a {
  margin: 0 6px;
}

.header-nav__menu a:hover {
  text-decoration: underline;
}

.header-nav__contacts {
  justify-self: end;
}

.header-nav__contacts a:hover {
  text-decoration: underline;
}

.tel__a{
  display: block;
  margin-bottom: 5px;
}

.header-content {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
}

.header-content__info {
  align-self: center;
  margin-top: -25px;
}

.header-content__info h1 {
  font-size: 50px;
  width: 90%;
  font-weight: 700;
}

.header-content__info p {
  margin: 20px 0 30px 0;
  font-size: 18px;
  font-weight: 300;
}

.main-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 370px;
  height: 55px;
  border-radius: 30px;
  font-size: 18px;
  background: #f13c20;
  color: #fff;
  transition: 0.2s;
  position: relative;
  overflow-x: hidden;
}

.main-link:hover {
  box-shadow: #f13c20 0px 0px 15px 3px;
}

.main-link .flare {
  position: absolute;
  top: 0;
  height: 100%;
  width: 30px;
  transform: skewX(-45deg);
  left: -150%;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
  animation: flareAnimation 3s infinite linear;
}

@keyframes flareAnimation {
  0% {
    left: -150%;
  }

  100% {
    left: 150%;
  }
}

@-webkit-keyframes flareAnimation{
  0% {
    left: -150%;
  }

  100% {
    left: 150%;
  }
}


.header-content__img img {
  margin-top: 30px;
  width: 650px;
}

.heading {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}


section.english-levels {
  width: 100%;
  background: #e6edff;
  padding: 70px 200px;
}

.hide-text {
  display: none;
}

.level-grids {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 50px 30px;
  text-align: center;
}

.level-grids__block {
  transition: 0.2s;
}

.level-grids__block:hover {
  transform: scale(1.08);
}

.level-grids__block h4 {
  margin-bottom: 20px;
  font-size: 20px;
}

.level-grids__block p {
  font-size: 15px;
  color: #777777;
  line-height: 1.6;
}

.english-levels a {
  margin: 0 auto;
  margin-top: 60px;
}

section.learn-view {
  padding: 70px 50px 0 50px;
}

.learn-view__blocks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  margin-top: 40px;
}

.learn-view__block {
  width: 170px;
  transition: 0.2s;
}

.learn-view__block:hover {
  transform: scale(1.08);
}
.learn-view__block:hover .learn__text {
  color: #f13c20;
}

.block_hover {
  color: #f13c20;
  background: #000;
}

.learn-view__block img {
  width: 100%;
  border-radius: 300px;
}

.learn-view__block p {
  margin-top: 15px;
  text-align: center;
  font-size: 15px;
  color: #777;
  line-height: 1.5;
}

.learn-view a {
  margin: 60px auto
}

section.course {
  width: 100%;
  background-image: url(../img/course/bg.jpg);
  background-size: cover;
}

.course-inner {
  width: 100%;
  height: 100%;
  padding: 70px 50px;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.course-inner h2 {
  padding: 10px;
  /* border: 2px solid #000; */
  width: 40%;
  margin: auto;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.2) 100%);
  color: #fff;
  border-radius: 40px;
}

.course-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 50px;
  gap: 20px;
  justify-items: center;
}

.course-card {
  width: 360px;
  padding-bottom: 40px;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  background: #fff;
  transition: 0.2s;
}

.course-card:hover {
  transform: scale(1.05);
}

.course-card img {
  width: 100%;
}

.course-card h4 {
  margin-top: 20px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.card-info {
  margin: 0 auto;
  width: 80%;
  font-weight: 15px;
  color: #777;
}

.card-price {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 700;
  color: #1752a6;
}

.course__a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 50px;
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 50px;
  font-size: 18px;
  color: #fff;
  font-weight: 700;
  background: #f13c20;
}

.course__a:hover {
  background: #fff;
  color: #f13c20;
  border: 2px solid #f13c20;
}

section.statistic {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  text-align: center;
  padding: 60px 50px;
}

.statistic__div {
  cursor: default;
}

.statistic__div h3 {
  font-size: 42px;
  color: #1752a6;
}

.statistic__div h3:hover {
  color: #f13c20;
}

.statistic__div h4 {
  margin: 3px 0;
  color: #2b2b2b;
}

.statistic__div p {
  margin-top: 3px;
}

.teachers {
  width: 100%;
  height: 100%;
  background: url(../img/bg-teacher.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.teachers-inner {
  padding: 70px 50px 0 50px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.teachers-inner h2 {
  padding: 10px;
  width: 30%;
  margin: auto;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.2) 100%);
  color: #fff;
  border-radius: 40px;
}

.teacher-content {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr;
  margin-top: 20px;
}

.teacher-img {
  display: flex;
  /* margin-bottom: 20px; */
}

.teacher-img img {
  display: none;
  width: 70%;
  justify-self: center;
  border-radius: 20px 20px 20px 20px;
}

.teacher-text {
  display: grid;
  align-items: center;
  justify-self: center;
  width: 70%;
  height: auto;
  padding: 30px;
  margin-bottom: 20px;
  border-radius: 70px 70px 70px 5px;
  /* background: rgba(255, 255, 255, 0.7); */
  /* background: rgba(36, 61, 163, 0.8); */
  background: linear-gradient(90deg, rgba(36, 61, 163, 0.65) 0%, rgba(36, 61, 163, 0.8) 10%, rgba(36, 61, 163, 0.8) 50%, rgba(36, 61, 163, 0.8) 90%, rgba(36, 61, 163, 0.65) 100%);


  transition: 0.4s;
}

.teacher-text:hover {
  transform: scale(1.02);
}

.teacher-text h3 {
  font-size: 26px;
  color: #fff;
}

.teacher-info {
  color: #e3c708;
  font-weight: 700;
}

.teacher-bio {
  font-size: 15px;
  line-height: 1.6;
  margin: 10px 0;
  color: #fff;
}

.teacher-text a {
  color: #e3c708;
}

.teacher-text a:hover {
  text-decoration: underline;
}

section.form-block {
  width: 100%;
  background-color: #e7edff;
  padding: 70px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__p {
  margin-top: 10px;
  margin-bottom: 20px;
  width: 60%;
  text-align: center;
  font-weight: 100;
  color: #777;
}

.form-text {
  width: 280px;
  height: 50px;
  border-radius: 50px;
  padding-left: 25px;
  margin-left: 15px;
  margin-right: 15px;
  border: 1px solid #d3d3d3;
  outline: 0;
  font-size: 16px;
  font-weight: 500;
  background: #fff;
  
}

.form-text:focus {
  border: 2px solid #f13c20;
}

.form-button {
  width: 280px;
  height: 50px;
  border-radius: 50px;
  margin-left: 15px;
  margin-right: 15px;
  border: 0;
  outline: 0;
  background: #f13c20;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  /* transition: 0.2s; */
}

.form-button:hover {
  background: #fff;
  border: 2px solid #f13c20;
  color: #f13c20;
}


footer {
  width: 100%;
  background: #1752a6;
  display: flex;
  padding: 50px 50px 30px 50px;
  justify-content: center;
  text-align: center;
}

.footer-info{
  z-index: 20;
}

.footer-logo {
  font-size: 38px;
  color: #fff;
  margin-bottom: 10px;
}

.footer-logo span {
  color: #f13c20;
  font-weight: 600;
}

.footer-address {
  margin-top: 5px;
  color: #d3d3d3;
  margin-bottom: 30px;
}

.social img {
  height: 30px;
  margin-right: 15px;
  margin-left: 15px;
  transition: 0.2s;
}

.social img:hover {
  transform: scale(1.1);
}

.background-foot{
  /* background: linear-gradient(132deg, #FC415A, #591BC5, #212335); */
  /* background-size: 100% 100%; */
  animation: Gradient 15s ease infinite;
  position: relative;
  /* height: 100vh; */
  width: 100%;
  overflow: hidden;
}

.cube {
  position: absolute;
  top: 80%;
  left: 45%;
  width: 10px;
  height: 10px;
  border: solid 1px #ffffff2f;
  transform-origin: top left;
  transform: scale(0) rotate(0deg) translate(-50%, -50%);
  animation: cube 12s ease-in forwards infinite;
  
  z-index: 0;
}
.cube:nth-child(2n) {
  border-color: #ffffff2f ;
}
.cube:nth-child(2) {
  animation-delay: 2s;
  left: 15%;
  top: 10%;
}
.cube:nth-child(3) {
  animation-delay: 4s;
  left: 75%;
  top: 50%;
}
.cube:nth-child(4) {
  animation-delay: 6s;
  left: 90%;
  top: 10%;
}
.cube:nth-child(5) {
  animation-delay: 8s;
  left: 30%;
  top: 65%;
}
.cube:nth-child(6) {
  animation-delay: 10s;
  left: 50%;
  top: 10%;
}

@keyframes cube {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    transform: scale(5) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}


.thanks {
  background: url(../img/thanks_bg.jpg);
}

.thanks__div {
  width: 100vw;
  height: 100vh;
  background: rgba(23, 82, 166, 0.8);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.notification {
  font-weight: 900;
  font-size: 2.2em;
  color: #fff;
  text-align: center;
}

.error__div {
  width: 100vw;
  height: 100vh;
  background: rgba(255, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.notification__div {
  font-size: 2.2em;
  font-weight: 900;
  color: #fff;
  text-align: center;
}